PORT = 3000
DB_HOST = 'dbhosturl'
DB_PORT = dbport
DB_USER = 'dbuser'
DB_PASSWORD = 'dbpassword'
DB_DBNAME = 'dbname'
DB_FRONTEND_URL = 'http://localhost:4200'
JVM_HOST = 'jvmhosturl'
JVM_PORT = jvmport
JWT_SECRET = jwt_secret_key_for_authentication